{% extends 'layout.html' %}
{% block body %}
<style>
.p{
    padding: 10px 30px;
    /* border: 1px solid #888; */
    margin:20px 0;
}
</style>

<div id="list">
    <fieldset style="position: relative">
    <legend>元素列表</legend>
        <div class="p">
            <table border="1" cellpadding="10">
                <tr>
                    <th>ID</th>
                    <th>模块名称</th>
                    <th>元素名称</th>
                    <th>元素值</th>
                    <th>操作</th>
                </tr>
                {% for item in element_all%}
                <tr>                    
                    <td>{{item['id']}}</td>
                    <td>{{item['modulename']}}</td>
                    <td>{{item['yuansuname']}}</td>
                    <td>{{item['yuansuvalue']}}</td>
                    <td>
                        <a style="font-size: 16px;" href="{{url_for('modify_element',modify_element_id=item['id'])}}">修改元素</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>       
    </fieldset>  
</div>
{% endblock %}